@{
    ViewBag.Title = "Contact";
}

<div style="display: flex; justify-content: center; align-items: center; height: 120px">
    <h2><b><u>Contact Us</u></b></h2>
</div>

<center>
    <img src="https://sdcvma.org/sites/default/files/99379946_dog_contact_us_page.jpg" alt="Image" align="middle" width="450">
</center>

<main>
    <div style="display: flex; justify-content: center; align-items: center; height: 350px; background-color: lightblue;">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <div style="width: 1100px; height: 350px; text-align: center;">
            <div style="display: flex; justify-content: center; align-items: center; height: 400px;">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <section class="col-md-4">
                                <h2>Our Instagram</h2>
                                <div>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="Image" width="40" />
                                </div>
                                <p>Share your experience.</p>
                                <p><a class="btn btn-outline-dark" href="https://www.instagram.com/spcadbn/">Instagram &raquo;</a></p>
                            </section>

                            <section class="col-md-4">
                                <h2>Our Facebook</h2>
                                <div>
                                    <img src="https://img.freepik.com/premium-vector/blue-social-media-logo_197792-1759.jpg" alt="Image" width="40" />
                                </div>
                                <p>Keep track of our events.</p>
                                <p><a class="btn btn-outline-dark" href="https://www.facebook.com/spcadbn/">Facebook &raquo;</a></p>
                            </section>

                            <section class="col-md-4">
                                <h2>Our Email</h2>
                                <div>
                                    <img src="https://s.yimg.com/nq/nr/img/desktop_notification_icon_3x_hyeOa8eLuUarSAZ1BW1p6y52zCsA520yKCg6fgaOCXQ_v1.png" alt="Image" width="40" />
                                </div>
                                <p>Email us with inquiries.</p>
                                <p><a class="btn btn-outline-dark" href="mailto:spcadurbanza@gmail.com">Email &raquo;</a></p>
                            </section>


                            <div style="display: flex; justify-content: center; align-items: center;">
                                <section class="col-md-4">
                                    <h2>Scan Me:</h2>
                                    <div style="text-align: center;">
                                        <img src="https://i.ibb.co/f27fGvK/Hazel-View-Clinic-3.png" alt="Image" width="80" />
                                    </div>
                                    <p>Leave a Review</p>
                                </section>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <h2>Our Location</h2>
        <p>Visit us at the following address:</p>
        <address>
            7 Avondale Rd, Essenwood, Berea, 4001
        </address>
    </div>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3460.6576303737006!2d31.008692399999997!3d-29.84530269999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7a9e05f3094e9%3A0x6cce234624bfcaef!2s7%20Avondale%20Rd%2C%20Essenwood%2C%20Berea%2C%204001!5e0!3m2!1sen!2sza!4v1698086624946!5m2!1sen!2sza" width="1290" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
